body{
    margin: 0px;
    background-color: #D9D9D9;
}

/* image de background*/

#bg{
    background-image: url(https://cdn.generationvoyage.fr/2025/03/Le-Circuit-Yas-Marina-Abu-dhabi.jpeg);
    margin: 0px;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
}

#txt{
    font-size: 75px;
    text-decoration: underline 2px lightgray;
    padding-left: 20px;
    color: #ADADAD;
}

#txt1{
    display: inline;
    font-size: 22.5px;
}


#tit{
    display: inline;
    font-size: 20px;
    margin: 0;
    color: #000;
    margin-left: 10px;
}


/* nav bar */

.dropc{
    display: none;
    position: absolute;
    background-color: #969696;
    width: 100%;
    left: 0;
    top: 48px;
}

.drop:hover{
    transition: background-color .3s;
    background-color: #C4C4C4;
}

.drop:hover .dropc{
  display: block;
}

.col>div:hover{
    transition: background-color .3s;
    background-color: #ffff;
}

.col{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.col>div{
    padding: 2.5%;
}

.cnt{   
    display: grid;
    width: 100%;
    grid-template-columns: 15% 15% 15%;
    background-color: #ADADAD;
    position: sticky;
    top: 0;
}

.cnt>div{
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

/* sous bandeau */

.dropc2{
    display: none;
    position: absolute;
    background-color: #969696;
    width: 100%;
    left: 0;
    top: 100%;
}

.drop2:hover .dropc2{
  display: block;
}

.col2>div:hover{
    transition: background-color .3s;
    background-color: #ffff;
}

.col2{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;

}

.col2>div{
    padding: 2.5%;
}

#brand>a{
    text-decoration: none;
}

/* texte */

#p{
    margin: 0;
    padding: 0;
    background-color: #011665;
}

/* bandeau du bas */

footer{
    background-color: lightslategray;
}

#cred{
    padding-top: 2px;
    
}

#feet{
    margin: 0;
    font-size: 10px;
}